
body {
    font-family: Arial, sans-serif;
    background-color: #c4efc2;
    color:cadetblue;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

form ul{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
}
form ul li{

    list-style-type: none;
    display: block;
    text-align: left;
} 
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.listagem form button, input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    color: #007bff;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos específicos para a segunda página */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Garante que a largura especificada seja aplicada */
}
  
th, td {
    width: 100px;
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.listagem form {
    background-color: #78a489;
    max-width: 600px;
    margin: 0;
}

.form-curso, .form-linguagem {
    margin-bottom: 20px;
}

.form-curso select, .form-linguagem select {
    width: 200px;
    height: 30px;
    margin-right: 10px;
}

.form-curso button, .form-linguagem button {
    height: 34px;
}

